body {
  background: url("http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg") no-repeat center;
  background-attachment: fixed;
  margin: 0;
}
.container {
  background: rgba(0,0,0,0.5);
  min-height: 100vh;
  padding-top: 30px;
}
.preview img {
  width: 100%;
  vertical-align: bottom;
}
.bottom {
  background: rgba(0,0,0,0.4);
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}
.avatar img {
  width: 100%;
}
.row {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col {
  width: 300px;
  display: inline-block;
  box-sizing: border-box;
  border: 0.5px solid rgba(255,255,255,0.1);
  margin-bottom: 30px;
  transition: all 0.5s;
}
.col:hover {
  cursor: pointer;
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.5);
  -webkit-filter: brightness(1.4);
  filter: brightness(1.4);
  -webkit-filter: brightness(1.4);
}
.intro {
  color: #fff;
}
.channel_name {
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}
