$col-width = 300px /* variable  */

filter() // function 所有打filter 的都會夾帶 -webkit- 
  -webkit-filter: arguments 
  filter:arguments


body 
  background: url(http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg) no-repeat center
  background-attachment: fixed
  margin: 0


.container 
  background: rgba(0,0,0,0.5)
  min-height: 100vh
  padding-top: 30px

.preview img
  width: 100%
  vertical-align:bottom /* 解決 預覽下方空隙 */

.bottom 
  background: rgba(0,0,0,0.4)
  padding: 10px
  position: relative
  display: flex
  align-items: center


.avatar 
  width: 60px
  height: 60px
  overflow: hidden
  border-radius: 50%
  margin-right: 15px

  img 
    width: 100%
  

.row
  width: 1000px
  margin: 0 auto
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.col
  width: $col-width /* 變數應用 */
  display: inline-block
  box-sizing: border-box
  border: 0.5px solid rgba(255, 255, 255, 0.1)
  margin-bottom: 30px
  transition: all 0.5s /* 給hover漸變的效果（使用all 會對所有屬性做監測 浪費效能） */


  &:hover /* 針對方格做特效   */
    cursor: pointer
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.5)
    filter: brightness(1.4) 
    -webkit-filter: brightness(1.4) /* 怕其他瀏覽器不支援 */


.intro
  color: white


.channel_name
  margin-bottom: 0px
  white-space: nowrap /*字太多也不換行*/
  text-overflow: ellipsis /* 字太多變... */
  overflow: hidden
  width: 200px /* 要設定寬度上面的才有用 */
